/*列表页样式*/

/*条件筛选区域*/
.filter {font-size: 12px; line-height: 19px;}
.condition, .sort {width: 978px; border: 1px solid #eee;}

.breadcrumb {margin: 0 15px; padding: 12px 0; border-bottom: 1px dotted #ddd;}
.filter .breadcrumb-item a{padding: 0px 8px; color: #666; display: inline-block;border:1px solid #2bb8aa;}
.filter .condition-item {padding: 10px 0 10px 50px; margin: 0 15px; position: relative; border-bottom: 1px dotted #ddd; position: relative; }
.filter .label {position: absolute; left: 8px; top: 16px;}
.filter .condition-item li {display: inline-block; height: 14px; margin: 4px 15px 4px 0;*display: inline; zoom: 1;}
.filter .condition-item li a {padding: 2px 4px; color: #666; display: block;}
.filter .condition-item li a:hover,.filter .condition-item li.cur a{background: #2bb8aa; color: #fff;}

.filter .sort li {float: left; border-right: 1px solid #eee;}
.filter .sort li a{display: inline-block; padding: 0 15px 0 24px; height: 29px; line-height: 29px; color: #333;  zoom: 1;}
.filter .sort li .btn-img{display: inline-block; width: 7px; height: 8px; background: url(../images/base.png) no-repeat 0 -21px; margin-left: 7px; zoom: 1; }
.filter .sort li.cur {border-top: 2px solid #2bb8aa; margin-top: -1px;}
.filter .sort .price {border-right: 1px solid #eee; margin-right: 20px; position: relative;}
.filter .sort .price .price-btn{ height: 29px; line-height: 29px; display: inline-block; padding: 0 30px 0 20px; color: #666; position: relative;}
.filter .sort .price .tri-icon {width: 0; height: 0; border:4px solid transparent; border-top: 4px solid #999; position: absolute; right: 8px; top: 13px;}
.filter .sort .extra a {line-height: 29px; margin: 0 5px; color: #666; background: url(../images/base.png) no-repeat 0 -94px; padding-left: 17px; }
.filter .sort .price-list {position: absolute; left: -1px; width: 100%; top: 29px; white-space: nowrap; border: 1px solid #eee; border-top: none;}
.filter .sort .price-list li {border: none; line-height: 20px; padding:0; width: 100%;}
.filter .sort .price-list li a {color: #999;  padding-left: 18px; display: block;}
.filter .sort .price-list li a:hover{color: #2bb8aa; background: #f2f2f2;}

/*团购列表*/
.list {width: 720px; float: left; overflow: hidden;}
.list ul {margin-right: -18px;*zoom: 1; _position:relative;}
.list li {float: left; width: 346px; height: 336px; border:1px solid #eee; margin:10px 18px 0 0; }
.list .item-pic {display: block;}
.list .item-pic img {width: 346px; height: 214px;}
.list .item-info{  padding: 6px 18px 11px;}
.list .item-price { height: 44px; line-height: 44px; background: #f9f9f9; border-top: 1px dotted #ddd; padding:0 20px 0 18px;}
.list .item-info-desc {height: 24px; line-height: 24px; position: relative; margin-bottom: 15px;}
.list .item-info-desc a {color: #666; font-size: 16px; padding-left:32px;}
.list .item-info-desc a:hover {color: #333;}
.list .item-info-desc .shangjia {width: 27px; height: 16px; position: absolute; left: 0; top: 4px; display: inline-block; background: url(../images/mt-sp3.png) no-repeat 0 -187px; }
.list .item-info-desc .icons {display: block;  position: absolute; top: 5px; right: 0;}
.list .item-info-desc .icon-quan {width: 16px; height: 16px; float: left; padding:0; background: url(../images/mt-sp3.png) no-repeat 0 -169px; text-indent: -9999px; }
.list .item-info-desc .icon-tuan {width: 16px; height: 16px; float: left; padding:0; margin-left: 5px; background: url(../images/mt-sp3.png) no-repeat 0 -205px; text-indent: -9999px; }
.list .tag {float: right;}
.list .tag  a{ color: #999; font-size: 12px; }
.list .rate a {color: #999;}

.list .item-price a {color: #999; font-size: 16px;}
.list .item-price strong{ font-size: 22px; color: #f76120; margin-right: 5px; }
.list .item-price span {float: right; color: #999;  font-size: 12px;}